@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  height: $footer-height;
  background-color: transparent;
  @include layout(center, center, column);
  p {
    height: 27px;
  }
}
